{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://pyodide-cdn2.iodide.io/v0.17.0/full/pyodide.js"></script>

</head>
<body>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="title">Get health recommendations</h5>
          </div>

          <div class="card-body">
            <form onclick="runPythonCode()" id="genform">

              <div class="row">

                <div class="col-md-6 pr-md-1">
                </div>
      
              </div>
              <div class="row">
                <div class="col-md-4 pr-md-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Company" value="George">
                  </div>
                </div>
                <div class="col-md-4 pl-md-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" value="S">
                  </div>
                </div>
                <div class="col-md-4 pl-md-1 form-group">
                  <label class="form-label">Email Address</label>
                  <input type="email" name="email" class="form-control"
                   placeholder="Your email Here"
                   value="{% if current_user.email %} {{ current_user.email }} {% endif %}">
                   <!-- <section class="display-error-message">
                  </section> -->
                </div>
              </div>
              <div class="row">
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>Would you consider your household to be in a low income area? <br></label>
                    <!-- <input type="text" class="form-control" placeholder="Country" value="Australia"> -->
                    <div >
                      <select class="w-100 form-control" name="gender" id="">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Disagree</option>
                        <option value="3">Neutral</option>
                        <option value="4">Agree</option>
                        <option value="5">Strongly agree</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>Do you live in an area considered as "Rural Australia"?</label>
                    <!-- <input type="number" class="form-control" placeholder="ZIP Code"> -->
                    <div >
                      <select class="w-100 form-control" name="exercise" id="">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Disagree</option>
                        <option value="3">Neutral</option>
                        <option value="4">Agree</option>
                        <option value="5">Strongly agree</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>Would you agree that your area was a Hard Hit Area (HHA) by COVID-19?</label>
                    <!-- <input type="text" class="form-control" placeholder="City" value="Sydney"> -->
                    <div >
                      <select class="w-100 form-control" name="" id="">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Disagree</option>
                        <option value="3">Neutral</option>
                        <option value="4">Agree</option>
                        <option value="5">Strongly agree</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 px-md-1">
                  <div class="form-group">
                    <label>Would you agree that there is a strong Indigenous population in your local area?</label>
                    <!-- <input type="text" class="form-control" placeholder="Country" value="Australia"> -->
                    <div >
                      <select class="w-100 form-control" name="" id="">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Disagree</option>
                        <option value="3">Neutral</option>
                        <option value="4">Agree</option>
                        <option value="5">Strongly agree</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              </div>

              <div class="card-footer">
                <button type='submit' name='submit' id='submit' class="btn btn-fill btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script type="text/javascript" src="../../static/assets/js/generative.js"></script>
</body>
{% endblock javascripts %}
